<!DOCTYPE html>
<html>

<head>
    <title>濃度</title>
</head>

<body>
    <h1>當前濃度</h1>
    <div>
        <canvas id="myLineChart"></canvas>
    </div>

    <table style="font-size: 20px;">
        <thead>
            <tr>
                <td>ID　　　　　</td>
                <td>Sensor　　</td>
                <td>Location　</td>
                <td>PM　　　　　</td>
                <td>Situation　</td>
                <td>Timestamp　</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="./static/main.js"></script>
</body>

</html>